@import "./hero";
@import "./feature";
@import "./creations";
@import "./footer";

$gray: hsl(0, 0%, 55%);
$dk-gray: hsl(0, 0%, 41%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: "Josefin Sans", sans-serif;
  overflow-x: hidden;
}

.creations__button,
.feature__text {
  font-family: "Alata", sans-serif;
}

li,
a {
  text-decoration: none;
}

h1,
h2,
h3,
button,
li {
  text-transform: uppercase;
  font-weight: 300;
}

.desktop-image {
  display: none;
}

@media (min-width: 800px) {
  .mobile-image {
    display: none;
  }

  .desktop-image {
    display: block;
  }
}
