@import './hero';
@import './feature';
@import './creations';
@import './footer';

$gray: hsl(0, 0%, 55%);
$dk-gray: hsl(0, 0%, 41%);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: 'Josefin Sans', sans-serif;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}


.nav__li:hover::after,
.footer__link:hover::after {
  content: '';
  display: block;
  width: 20px;
  padding-top: 8px;
  margin: 0 auto;
  border-bottom: 2px solid #fff;
}

.desktop-image {
  display: none;
}


@media (min-width: 800px) {
  .mobile-image {
    display: none;
  }

  .desktop-image {
    display: block;
  }

}